.intro {
  min-height: 100vh;

  display: flex;
  align-items: center;

  background: url("/img/home/intro/background.png") no-repeat left top / cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer {
  position: relative;
}

.title {
  max-width: 1500px;

  font-family: var(--font-rostelecom);
  font-weight: 500;

  font-size: 170px;
  line-height: 1.2em;

  span {
    font-weight: 700;
    font-size: 240px;

    background: linear-gradient(-160deg, #0057ff, #00a9ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.scroll {
  position: absolute;
  bottom: -400px;

  svg {
    display: block;
  }
}

@media (max-width: 2980px) {
  .title {
    max-width: 560px;

    font-size: 64px;

    span {
      font-size: 96px;
    }
  }

  .img {
    width: 460px;
    height: 440px;
  }

  .scroll {
    bottom: -192px;

    svg {
      width: 40px;
      height: 92px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
    gap: 24px;
  }

  .title {
    max-width: 200px;

    font-size: 24px;

    text-align: center;

    span {
      font-size: 32px;
    }
  }

  .img {
    width: 90px;
    height: 85px;
  }

  .scroll {
    display: none;
  }
}